.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.logo{
    width: 100px;
}

.res-card{
    text-align: center;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items> ul > li{
    padding: 5px;
    margin: 9px;
    font-size: 21px;
}

.res-container{
     display: flex;
     flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: auto;
}

.res-logo{
    width: 100%;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search{
    padding: 10px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}